body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #667eea, #764ba2);
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 350px;
    background: white;
    padding: 25px;
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #5a67d8;
}

a {
    text-decoration: none;
    color: #667eea;
    display: block;
    text-align: center;
    margin-top: 10px;
}

.task-box {
    background: white;
    width: 500px;
    margin: 50px auto;
    padding: 25px;
    border-radius: 10px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}




.btn {
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
}

.cancel-btn {
    background-color: #95a5a6;
    color: white;
    text-decoration: none;
}